Repository RRocaP/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: enhanced hero aesthetics and consistent design across languages
  src/components/Navigation.astro
  src/data/metrics.ts
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: add self-improving metrics via GitHub Actions
  .github/workflows/update-metrics.yml
  astro.config.mjs
  docs/SELF_IMPROVING.md
  package.json
  public/robots.txt
  scripts/update-metrics.py
  src/pages/404.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

chore: add sitemap integration, a11y improvements, and GH Pages workflow
  .github/workflows/deploy.yml
  package-lock.json
Due: npm run lint:check, npm run type-check

fix: repair GPT-5's broken changes and improve navigation styling
  .github/workflows/deploy.yml
  src/components/Navigation.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: humanized about text with typewriter effect and refined UI
  src/components/Footer.astro
  src/components/Navigation.astro
  src/components/ScrollIndicator.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: add WebGL antimicrobial animation and Latent Labs-inspired design
  src/components/AntimicrobialAnimation.astro
  src/components/HeroGradient.astro
  src/components/Navigation.astro
  src/components/PerformanceMetrics.astro
  src/pages/en/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: matte black hero with enhanced contrast and authentic tagline
  src/components/CallToAction.astro
  src/components/FAQAccordion.astro
  src/components/FeatureGrid.astro
  src/components/Footer.astro
  src/components/HeroGradient.astro
  src/components/ProcessFlow.astro
  src/data/faq.ts
  src/data/features.ts
  src/data/process.ts
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: add inspired capability, process, FAQ and CTA sections across locales
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

style: keep nav transparent longer before scroll background appears
  src/components/Navigation.astro
Due: npm run lint:check, npm run type-check, npm run lint

refactor: remove emojis in features and timeline; add vector icons; replace emoji hazard marker with SVG diamond; fix remaining EN contact color; audit CA for emoji usage
  src/components/AntimicrobialResistanceTimeline.tsx
  src/components/FeatureGrid.astro
  src/data/features.ts
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

style: make navigation fully transparent with cleaner transition
  src/components/Navigation.astro
Due: npm run lint:check, npm run type-check, npm run lint

seo+a11y: add canonical & WebSite JSON-LD, robots tag, aria-current on home link
  src/components/Navigation.astro
  src/layouts/Layout.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: comprehensive portfolio enhancements
  public/profile.avif
  public/profile.webp
  scripts/generateProteinVideo.ts
  src/components/ImpactSection.astro
  src/components/ImpactStrip.astro
  src/components/NarrativeBlock.astro
  src/components/Navigation.astro
  src/components/ProteinVideo.astro
  src/components/ResponsiveImage.astro
  src/components/Timeline.astro
  src/components/ValidationMetrics.astro
  src/data/i18n.ts
  src/data/metricsHistory.ts
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: narrative & impact components + timeline refactor (i18n centralization)
  src/pages/en/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

fix(build): add placeholder series for ValidationMetrics charts; ensure timeline data safety; complete narrative/impact integration
  src/components/Timeline.astro
  src/data/metricsHistory.ts
  src/pages/en/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: localized impact strip + reintroduce narrative & timeline on all locales
  src/components/ImpactStrip.astro
  src/components/ProteinDesignShowcase.astro
  src/components/ResearchEvolution.astro
  src/data/i18n.ts
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

polish: final production refinements and optimization
  rust/README.md
  rust/perf_tools/Cargo.toml
  rust/perf_tools/src/lib.rs
  scripts/copilot-orchestrate.js
  scripts/free-ai-enhance.js
  src/ai/recommendation.ts
  src/ai/tagging.ts
  src/ai/vectorStore.ts
  src/ai/vectorWorker.ts
  src/ai/wasm.ts
  src/components/AIChat.tsx
  src/components/AdaptiveVideoPlayer.astro
  src/components/AntimicrobialTimeline.astro
  src/components/ProteinVisualizationReact.tsx
  src/components/ResearchShowcase.astro
  src/components/ResearchVideoCard.astro
  src/components/SmartVideo.astro
  src/components/VideoHero.astro
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/plugins/example-publications-plugin.ts
  src/plugins/registry.ts
  src/plugins/state.ts
  src/styles/main.css
  tests/vectorStore.test.ts
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: final production polish and quality improvements
  src/components/AntimicrobialTimeline.astro
  src/components/PerformanceMonitor.astro
  src/components/ProteinViewer.astro
  src/pages/404.astro
  src/utils/ProteinVisualization.ts
  src/utils/generateProteinFrames.ts
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

fix: final production-ready polish
  scripts/generateProteinVideo.ts
  src/layouts/Layout.astro
  src/pages/en/index.astro
  tests/a11y.spec.ts
Due: npm run lint:check, npm run type-check, npm run lint

feat: enhance visibility and add protein visualizations
  src/components/Navigation.astro
  src/components/ProteinVideoShowcase.astro
  src/components/ScrollIndicator.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: premium portfolio redesign with sophisticated aesthetics
  compress_onedrive_transfer.sh
  create_archive_from_buckets.sh
  src/components/ContactSection.astro
  src/components/HeroCarbon.astro
  src/components/HeroClean.astro
  src/components/HeroFinal.astro
  src/components/HeroMinimal.astro
  src/components/HeroModern.astro
  src/components/HeroPremium.astro
  src/components/HeroUnified.astro
  src/components/NavigationPremium.astro
  src/pages/en/index.astro
  stream_onedrive_archive.sh
Due: npm run lint:check, npm run type-check, npm run lint

fix: comprehensive accessibility and performance audit
  src/components/HeroFinal.astro
  src/components/NavigationPremium.astro
  src/components/PerformanceOptimizations.astro
  src/layouts/Layout.astro
  src/pages/en/index.astro
  src/styles/accessibility-fixes.css
Due: npm run lint:check, npm run type-check, npm run lint

feat: add scientifically accurate peptide helix visualization
  src/components/HeroFinal.astro
  src/components/PeptideHelix.astro
  src/components/PeptideHelixCanvas.astro
Due: npm run lint:check, npm run type-check, npm run lint

fix: make peptide helix more prominent and visible
  src/components/HeroFinal.astro
  src/components/PeptideHelix.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: add white notebook card background to peptide helix
  src/components/HeroFinal.astro
  src/components/PeptideHelix.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: implement wide banner peptide illustration and remove duplicate scroll indicators
  src/components/HeroFinal.astro
  src/components/PeptideHeroBanner.astro
  src/components/PeptideTileBackground.astro
  src/components/PeptideTilePattern.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  verify_transferred_files.sh
Due: npm run lint:check, npm run type-check, npm run lint

refactor: simplify protein banner with cleaner scientific visualization
  src/components/PeptideHeroBanner.astro
Due: npm run lint:check, npm run type-check, npm run lint

chore: remove utility scripts from repo and add to gitignore
  .gitignore
  fast_compress_bucket.sh
  stream_onedrive_archive.sh
  verify_transferred_files.sh
Due: npm run lint:check, npm run type-check

Updates
  404.html
  _astro/AntimicrobialAnimation.astro_astro_type_script_index_0_lang.DpwvG7zV.js
  _astro/AntimicrobialTimeline.astro_astro_type_script_index_0_lang.Djxuoavk.js
  _astro/client.BKVoyfwJ.js
  _astro/client.Co0vMr8l.js
  _astro/client.D1U2EYe0.js
  _astro/functional-inclusion-bodies.ClyuEWy8.css
  _astro/functional-inclusion-bodies.Do0T2wFp.css
  _astro/index.9X-xktHR.css
  _astro/index.BGrZAy0C.css
  _astro/index.BKK6Fijg.css
  _astro/index.CDLkW_03.css
  _astro/index.CZdYSYJx.css
  _astro/index.CkRD4GYg.css
  _astro/index.DK5eVGPn.css
  ca/index.html
  ca/research/functional-inclusion-bodies/index.html
  ca/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation/index.html
  ca/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation/index.html
  en/index.html
  en/research/functional-inclusion-bodies/index.html
  en/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation/index.html
  en/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation/index.html
  es/index.html
  es/research/functional-inclusion-bodies/index.html
  es/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation/index.html
  es/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation/index.html
  profile.avif
  profile.webp
  robots.txt
  sitemap-0.xml
  sitemap-index.xml
  sw.js
Due: npm run lint:check, npm run type-check

chore(hero): generate & integrate peptide pencil-drawing background via gpt-image-1
  package-lock.json
  package.json
  scripts/generate-hero.mjs
  src/components/HeroFinal.astro
Due: npm run lint:check, npm run type-check, npm run lint

Updates
  _astro/index.C-s2kFZu.css
  _astro/index.CDLkW_03.css
  _astro/index.CZdYSYJx.css
  _astro/index.Dd2QakPm.css
  _astro/index.DvAGoxPJ.css
  _astro/index.UBMzC9hP.css
  ca/index.html
  en/index.html
  es/index.html
Due: npm run lint:check, npm run type-check

Updates
  404.html
  _astro/index.B-XCx8Hh.css
  _astro/index.C-s2kFZu.css
  _astro/index.CDLkW_03.css
  _astro/index.CZdYSYJx.css
  _astro/index.Dd2QakPm.css
  _astro/index.DvAGoxPJ.css
  ca/index.html
  ca/research/functional-inclusion-bodies/index.html
  ca/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation/index.html
  ca/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation/index.html
  en/index.html
  en/research/functional-inclusion-bodies/index.html
  en/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation/index.html
  en/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation/index.html
  es/index.html
  es/research/functional-inclusion-bodies/index.html
  es/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation/index.html
  es/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation/index.html
  hero/video-poster.jpg
Due: npm run lint:check, npm run type-check

Updates
  _astro/index.B-XCx8Hh.css
  _astro/index.UBMzC9hP.css
  ca/index.html
  en/index.html
  es/index.html
Due: npm run lint:check, npm run type-check

chore: add dashed divider for journey section and adjust icon sizing
  src/styles/main.css
Due: npm run lint:check, npm run type-check

Updates
  _astro/index.DMlmtyJF.css
  _astro/index.UBMzC9hP.css
  ca/index.html
  en/index.html
  es/index.html
Due: npm run lint:check, npm run type-check

Updates
  _astro/index.DMlmtyJF.css
  _astro/index.wfvAXx6M.css
  ca/index.html
  en/index.html
  es/index.html
  styles/accessibility-fixes.css
  styles/animations.css
  styles/design-system.css
  styles/main.css
  styles/performance-optimizations.css
  styles/tailwind.css
Due: npm run lint:check, npm run type-check

UI polish: cinematic hero, nav refinement, animation utilities; keep fonts/copy. Add agents.md deployment plan
  AGENTS.md
  CLAUDE.md
  public/styles/accessibility-fixes.css
  public/styles/animations.css
  public/styles/design-system.css
  public/styles/main.css
  public/styles/performance-optimizations.css
  public/styles/tailwind.css
  src/components/HeroFinal.astro
  src/components/NavigationPremium.astro
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  test-results/.last-run.json
Due: npm run lint:check, npm run type-check, npm run lint

Path conditions:
  npm run lint:check: any of: *
  npm run type-check: any of: *
  npm run lint: any of: *.{ts,tsx,astro}
  npm run test:run -- --passWithNoTests: any of: src/**/*.{ts,tsx}
