Repository RRocaP/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

.lintstagedrc.json:

{
  "*": [
    "npm run lint:check",
    "npm run type-check"
  ],
  "*.{ts,tsx,astro}": [
    "npm run lint"
  ],
  "src/**/*.{ts,tsx}": [
    "npm run test:run -- --passWithNoTests"
  ]
}

Updates
  _assets/index.f_exZCbL.css
  _astro/AntimicrobialTimeline.astro_astro_type_script_index_0_lang.Djxuoavk.js
  _astro/client.BKVoyfwJ.js
  _astro/client.D1U2EYe0.js
  _astro/index.5kuX-w6X.css
  _astro/index.8RqHzYW6.css
  _astro/index.B1W8ytzN.css
  _astro/index.BSFf7AwC.css
  _chunks/Reveal.CGJpLW4v.js
  _chunks/astro.DkgYZiMe.js
  _chunks/astro/server.BvXo3uB1.js
  _chunks/client.CqbpB3d5.js
  _entry/client.BBMTTuNE.js
  _entry/hoisted.DxfalEgF.js
  _entry/page.DTIbhfSr.js
  ca/index.html
  en/index.html
  es/index.html
  fonts/Inter-Variable.woff2
  index.html
  optimization-report.json
  sitemap-0.xml
  sitemap-index.xml
  sw.js
Due: npm run lint:check, npm run type-check

Updates
  ca/index.html
  en/index.html
  es/index.html
Due: npm run lint:check, npm run type-check

Updates
  sitemap-0.xml
  sitemap-index.xml
Due: npm run lint:check, npm run type-check

Updates
  _astro/index.5kuX-w6X.css
  _astro/index.8RqHzYW6.css
  _astro/index.B1W8ytzN.css
  _astro/index.BSFf7AwC.css
  _astro/index.CCZfjESC.css
  _astro/index.DOztvKA3.css
  _astro/index.PG0RPa6s.css
  _astro/index.zliKphTn.css
  ca/index.html
  en/index.html
  es/index.html
  fonts/Inter-Variable.woff2
  sitemap-0.xml
  sitemap-index.xml
  sw.js
Due: npm run lint:check, npm run type-check

feat(branding+i18n): black/red/yellow theme, lang-aware nav, validated copy; link pubs to Scholar; ES/CA parity; improved cards and footer; set html lang. build + deploy script ready
  src/components/Footer.astro
  src/components/Navigation.astro
  src/data/publications.js
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

Updates
  _astro/index.9X-xktHR.css
  _astro/index.BGrZAy0C.css
  _astro/index.BKK6Fijg.css
  _astro/index.CCZfjESC.css
  _astro/index.DK5eVGPn.css
  _astro/index.DOztvKA3.css
  _astro/index.PG0RPa6s.css
  _astro/index.zliKphTn.css
  ca/index.html
  en/index.html
  es/index.html
Due: npm run lint:check, npm run type-check

ci: add GitHub Actions workflow to build and deploy Astro site to gh-pages on main pushes
  .github/workflows/deploy.yml
  src/components/Navigation.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

UI: minimal hero + refined typography + CMC palette; Workflows: staging branch deploy + auto Pages deploy
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  src/components/AntimicrobialResistanceTimeline.tsx
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

Refine hero to truly minimal: ambient radial gradients, Outfit display font; keep mouse indicator; restore Learn More/Get in Touch
  src/components/ScrollIndicator.astro
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

Hero: ultra-minimal accent with conic/radial ambient shape; accessibility + reduced motion; keep brand red/black
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

Timeline: center legend and plot; replace solution textbox with compact, professional panel; polish copy with concrete, non-fluff details
  src/components/AntimicrobialResistanceTimeline.tsx
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

Global: unify minimal hero accent across languages; keep plain black background on scroll
  src/layouts/Layout.astro
Due: npm run lint:check, npm run type-check, npm run lint

Background: single top-right red glow with gentle drift (replaces dual-shape); unified across languages
  src/layouts/Layout.astro
Due: npm run lint:check, npm run type-check, npm run lint

Hero: use darker Claude red only on hero; add underline; mobile tweaks for all languages; keep global brand untouched
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

Hero: slight accent boost (brighter, larger glow) and underline emphasis; consistent across languages
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

Hero background: Claude-style dark red + black with secondary conic shape and gentle drift; mobile scaling; reduced-motion safe
  src/layouts/Layout.astro
Due: npm run lint:check, npm run type-check, npm run lint

Hero background: stronger Claude-style red radial + dark radial secondary; very minimal, abstract; keep reduced-motion and mobile scaling
  src/layouts/Layout.astro
Due: npm run lint:check, npm run type-check, npm run lint

Hero background: +alpha red and +20% motion amplitude for subtle drift; deploy
  src/layouts/Layout.astro
Due: npm run lint:check, npm run type-check, npm run lint

Fix AMR timeline labels; geometric hero + ally/SEO; metrics config
  AGENTS.md
  src/components/AntimicrobialResistanceTimeline.tsx
  src/components/AntimicrobialTimeline.astro
  src/components/GeometricBackground.astro
  src/data/metrics.ts
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

security: bump astro to 5.12.8 to address GHSA-cq8c-xv66-36gw
  package.json
Due: npm run lint:check, npm run type-check

chore(lockfile): update astro to 5.12.8 to resolve advisory
  package-lock.json
Due: npm run lint:check, npm run type-check

feat/branding i18n orcid (#29)
  AGENTS.md
  package-lock.json
  package.json
  src/components/AntimicrobialResistanceTimeline.tsx
  src/components/AntimicrobialTimeline.astro
  src/components/GeometricBackground.astro
  src/data/metrics.ts
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

ci: remove duplicate GitHub Pages workflow (astro.yml); keep deploy.yml as single source of truth
  .github/workflows/astro.yml
Due: npm run lint:check, npm run type-check

ci: remove duplicate pages workflow (#30)
  .github/workflows/astro.yml
Due: npm run lint:check, npm run type-check

chore: finalize citation fix and purge siRNA artifacts
  AGENTS.md
  ph5ch8_sirna_cell_death.pdf
  ph5ch8_sirna_cell_death.png
  plot_both_sirna.py
  plot_thle2_sirna.py
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  thle2_sirna_cell_death.pdf
  thle2_sirna_cell_death.png
Due: npm run lint:check, npm run type-check, npm run lint

style: integrate Tailwind for layout spacing; red/dark minimal hero with utility classes; import via Astro style pipeline
  astro.config.mjs
  package-lock.json
  package.json
  postcss.config.cjs
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/styles/tailwind.css
  tailwind.config.mjs
Due: npm run lint:check, npm run type-check, npm run lint

style: tune red/dark hero geometry (stronger glow, more blur, subtle motion); apply Tailwind spacing/typography polish across EN/ES/CA
  Screenshot 2025-08-08 at 21.12.05.png
  src/components/GeometricBackground.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

chore: remove local reference screenshot from repo
  Screenshot 2025-08-08 at 21.12.05.png
Due: npm run lint:check, npm run type-check

copy: humanize research intro across EN/ES/CA; keep red/dark minimal design
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: comprehensive design overhaul with human-centered storytelling
  src/components/EnhancedAnimations.astro
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

refine: tone down overly casual content while maintaining engagement
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

refactor: polish portfolio for professional research standards
  src/data/metrics.ts
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

Design Overhaul: Transform Portfolio with Human-Centered Storytelling (#33)
  astro.config.mjs
  package.json
  ph5ch8_sirna_cell_death.pdf
  ph5ch8_sirna_cell_death.png
  plot_both_sirna.py
  plot_thle2_sirna.py
  postcss.config.cjs
  src/components/EnhancedAnimations.astro
  src/data/metrics.ts
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/styles/tailwind.css
  tailwind.config.mjs
  thle2_sirna_cell_death.pdf
  thle2_sirna_cell_death.png
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

fix: update package-lock.json for deployment
  package-lock.json
Due: npm run lint:check, npm run type-check

feat: bold red/black minimalist geometric design for hero section
  src/components/GeometricBackground.astro
Due: npm run lint:check, npm run type-check, npm run lint

fix: make red MUCH more prominent in hero background
  src/components/AntimicrobialResistanceTimeline.tsx
  src/components/GeometricBackground.astro
  src/components/Navigation.astro
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

fix: ACTUALLY show the red geometric background
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

fix: remove conflicting hero-accent styles blocking red geometric background
  src/components/GeometricBackground.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

refactor: minimal dark-dominated design with subtle red accents
  src/components/GeometricBackground.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint
