Repository RRocaP/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

.lintstagedrc.json:

{
  "*": [
    "npm run lint:check",
    "npm run type-check"
  ],
  "*.{ts,tsx,astro}": [
    "npm run lint"
  ],
  "src/**/*.{ts,tsx}": [
    "npm run test:run -- --passWithNoTests"
  ]
}

chore: add AGENTS.md project brief
  AGENTS.md
Due: npm run lint:check, npm run type-check

docs: add Repository Guidelines in AGENTS.md
  AGENTS.md
Due: npm run lint:check, npm run type-check

ci: use single Astro Pages workflow (Astro Pages)
  .github/workflows/deploy.yml
Due: npm run lint:check, npm run type-check

feat(next): scaffold Next.js prototype under /next with static export and CI build
  .github/workflows/next-prototype.yml
  next/.gitignore
  next/README.md
  next/app/(site)/globals.css
  next/app/(site)/layout.tsx
  next/app/api/orcid/route.ts
  next/app/contact/page.tsx
  next/app/cv/page.tsx
  next/app/music/page.tsx
  next/app/page.tsx
  next/app/projects/page.tsx
  next/app/publications/page.tsx
  next/app/research/page.tsx
  next/components/AccentStrip.tsx
  next/components/Footer.tsx
  next/components/NavBar.tsx
  next/components/PubCard.tsx
  next/lib/content.ts
  next/lib/orcid.ts
  next/next.config.mjs
  next/package.json
  next/postcss.config.js
  next/public/favicon.svg
  next/tailwind.config.ts
  next/tsconfig.json
Due: npm run lint:check, npm run type-check, npm run lint

ci(next): deploy Next.js prototype to GitHub Pages from next-prototype
  .github/workflows/next-prototype.yml
Due: npm run lint:check, npm run type-check

fix: use base path for favicon for GitHub Pages
  src/layouts/Layout.astro
Due: npm run lint:check, npm run type-check, npm run lint

fix(pages): correct base URL concatenation for favicon
  src/layouts/Layout.astro
Due: npm run lint:check, npm run type-check, npm run lint

chore: add missing Astro integrations and update gitignore
  .gitignore
  package-lock.json
  package.json
Due: npm run lint:check, npm run type-check

feat: integrate real professional data from CV
  prototypes/portfolio-redesign/src/constants.js
  src/components/v2/Contact.astro
  src/data/metrics.ts
  src/data/publications.js
  src/pages/en/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat(data): update publications, metrics, and i18n for portfolio revamp
  src/data/i18n.ts
  src/data/metrics.ts
  src/data/publications.js
  src/pages/ca/research/functional-inclusion-bodies.astro
  src/pages/ca/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation.astro
  src/pages/ca/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation.astro
  src/pages/en/research/functional-inclusion-bodies.astro
  src/pages/en/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation.astro
  src/pages/en/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation.astro
  src/pages/es/research/functional-inclusion-bodies.astro
  src/pages/es/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation.astro
  src/pages/es/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: implement Approach B — The ML-Native Researcher
  src/components/ml/CareerTimeline.astro
  src/components/ml/HeroInteractive.astro
  src/components/ml/ImpactDashboard.astro
  src/components/ml/NavML.astro
  src/components/ml/PublicationList.astro
  src/components/ml/ResearchIdentity.astro
  src/components/ml/TerminalContact.astro
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/pages/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

revert: restore original portfolio design with full content
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

fix: improve WCAG contrast, nav visibility, and design polish
  src/components/Footer.astro
  src/components/ml/AboutSection.astro
  src/components/ml/CareerTimeline.astro
  src/components/ml/HeroInteractive.astro
  src/components/ml/ImpactDashboard.astro
  src/components/ml/NavML.astro
  src/components/ml/PublicationList.astro
  src/components/ml/ResearchIdentity.astro
  src/components/ml/TerminalContact.astro
  src/data/i18n.ts
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

fix: improve language switcher visibility in nav
  src/components/ml/NavML.astro
Due: npm run lint:check, npm run type-check, npm run lint

fix: rename requirements.txt to unblock Vercel build
  make_binder_movie.py
  requirements-local.txt
Due: npm run lint:check, npm run type-check

fix: make all asset/nav paths dynamic for Vercel + GH Pages dual deploy
  astro.config.mjs
  src/components/Navigation.astro
  src/components/NavigationPremium.astro
  src/components/PerformanceOptimizations.astro
  src/components/ProteinVideo.astro
  src/components/Timeline.astro
  src/components/ml/NavML.astro
  src/data/blog.ts
  src/data/projects.ts
  src/data/testimonials.ts
  src/layouts/Layout.astro
  src/layouts/LayoutV2.astro
  src/pages/404.astro
  src/pages/api-test.astro
  src/pages/blog-demo.astro
  src/pages/en/blog/[slug].astro
  src/pages/en/blog/archive.astro
  src/pages/en/blog/index.astro
  src/pages/en/index-clean.astro
  src/pages/en/navy.astro
  src/pages/index.astro
  src/utils/ProteinVisualization.ts
  src/utils/optimizedImages.ts
  src/utils/prefetch-client.ts
  src/utils/seo.tsx
  src/utils/seoHooks.ts
  src/utils/seoManager.ts
  src/utils/videoConfig.ts
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: precision science visual overhaul — typography, layout, lang switcher fix
  src/components/Footer.astro
  src/components/ml/AboutSection.astro
  src/components/ml/CareerTimeline.astro
  src/components/ml/HeroInteractive.astro
  src/components/ml/ImpactDashboard.astro
  src/components/ml/NavML.astro
  src/components/ml/PublicationList.astro
  src/components/ml/ResearchIdentity.astro
  src/components/ml/TerminalContact.astro
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/styles/design-system.css
  src/utils/gsap-init.ts
  tailwind.config.mjs
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

polish: Gemini-reviewed frontend refinements
  src/components/Footer.astro
  src/components/ml/AboutSection.astro
  src/components/ml/CareerTimeline.astro
  src/components/ml/HeroInteractive.astro
  src/components/ml/ImpactDashboard.astro
  src/components/ml/NavML.astro
  src/components/ml/PublicationList.astro
  src/components/ml/ResearchIdentity.astro
  src/components/ml/TerminalContact.astro
Due: npm run lint:check, npm run type-check, npm run lint

Updates
  404.html
  _astro/CoreWebVitalsOptimizer.astro_astro_type_script_index_0_lang.B3D6N8XK.js
  _astro/CoreWebVitalsOptimizer.astro_astro_type_script_index_0_lang.FdcgBo8t.js
  _astro/Footer.DLdMLqfJ.js
  _astro/index.B3A9vkQO.css
  _astro/index.CvvPjnyQ.css
  blog-demo/index.html
  ca/enhanced/index.html
  ca/index-backup/index.html
  ca/index.html
  ca/search/index.html
  en/blog/aav-vectors-car-t-therapy/index.html
  en/blog/archive/index.html
  en/blog/functional-inclusion-bodies-revolution/index.html
  en/blog/future-antimicrobial-resistance/index.html
  en/blog/index.html
  en/blog/phd-journey-lessons-learned/index.html
  en/enhanced/index.html
  en/index-backup/index.html
  en/index-clean/index.html
  en/index.html
  en/navy/index.html
  en/search/index.html
  es/enhanced/index.html
  es/index-backup/index.html
  es/index.html
  es/search/index.html
  image-optimization-demo/index.html
Due: npm run lint:check, npm run type-check

fix: lower grain overlay z-index so lang switcher is visible
  src/components/CoreWebVitalsOptimizer.astro
  src/layouts/Layout.astro
  src/utils/lazyLoading.ts
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

Updates
  404.html
  _astro/blog-demo.BvfJzvbC.css
  _astro/blog-demo.C1R4jYji.css
  blog-demo/index.html
  ca/enhanced/index.html
  ca/index-backup/index.html
  ca/index.html
  ca/search/index.html
  en/blog/aav-vectors-car-t-therapy/index.html
  en/blog/archive/index.html
  en/blog/functional-inclusion-bodies-revolution/index.html
  en/blog/future-antimicrobial-resistance/index.html
  en/blog/index.html
  en/blog/phd-journey-lessons-learned/index.html
  en/enhanced/index.html
  en/index-backup/index.html
  en/index-clean/index.html
  en/index.html
  en/navy/index.html
  en/search/index.html
  es/enhanced/index.html
  es/index-backup/index.html
  es/index.html
  es/search/index.html
  image-optimization-demo/index.html
Due: npm run lint:check, npm run type-check

Updates
  _astro/index.CvvPjnyQ.css
  _astro/index.Xi12gA8I.css
  ca/index.html
  en/index.html
  es/index.html
  image-optimization-demo/index.html
Due: npm run lint:check, npm run type-check

polish: deep audit fixes — button visibility, i18n, accents, CSS hygiene
  src/components/Footer.astro
  src/components/ml/CareerTimeline.astro
  src/components/ml/HeroInteractive.astro
  src/components/ml/NavML.astro
  src/components/ml/PublicationList.astro
  src/components/ml/ResearchIdentity.astro
  src/components/ml/TerminalContact.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

polish: design system token consolidation + scroll-reveal
  CLAUDE.md
  src/components/Footer.astro
  src/components/NavigationPremium.astro
  src/components/PublicationCard.astro
  src/components/ml/AboutSection.astro
  src/components/ml/CareerTimeline.astro
  src/components/ml/HeroInteractive.astro
  src/components/ml/ImpactDashboard.astro
  src/components/ml/NavML.astro
  src/components/ml/PublicationList.astro
  src/components/ml/ResearchIdentity.astro
  src/components/ml/TerminalContact.astro
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/styles/design-system.css
  src/styles/main.css
Due: npm run lint:check, npm run type-check, npm run lint

a11y: WCAG AA audit — contrast, semantics, skip-link, readability
  src/components/Footer.astro
  src/components/ml/AboutSection.astro
  src/components/ml/CareerTimeline.astro
  src/components/ml/HeroInteractive.astro
  src/components/ml/ImpactDashboard.astro
  src/components/ml/PublicationList.astro
  src/components/ml/ResearchIdentity.astro
  src/components/ml/TerminalContact.astro
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: add Agent SDK visual pipeline orchestrator
  agents/.env.example
  agents/.gitignore
  agents/agents/auditor.ts
  agents/agents/builder.ts
  agents/agents/generator.ts
  agents/agents/qa.ts
  agents/bun.lock
  agents/config.ts
  agents/mcp/gemini-tools.ts
  agents/mcp/opensource-tools.ts
  agents/mcp/server.ts
  agents/mcp/vercel-blob.ts
  agents/orchestrate.ts
  agents/package.json
  agents/tsconfig.json
  agents/types.ts
Due: npm run lint:check, npm run type-check, npm run lint

feat: port Gemini prototype to Astro — immersive cinematic theme
  public/works/aav.webp
  public/works/amp.webp
  public/works/gene-therapy.webp
  public/works/inclusion-bodies.webp
  public/works/ml-bio.webp
  public/works/protein-eng.webp
  src/components/gemini/AboutGemini.astro
  src/components/gemini/ContactGemini.astro
  src/components/gemini/HeroGemini.astro
  src/components/gemini/ImmersiveBackground.astro
  src/components/gemini/NavGemini.astro
  src/components/gemini/WorkCardGemini.astro
  src/components/gemini/WorksGemini.astro
  src/components/gemini/WritingGemini.astro
  src/components/v3/AboutV3.astro
  src/components/v3/ContactV3.astro
  src/components/v3/FooterV3.astro
  src/components/v3/HeroCanvas.astro
  src/components/v3/HeroV3.astro
  src/components/v3/NavV3.astro
  src/components/v3/WorkCard.astro
  src/components/v3/WorksGrid.astro
  src/components/v3/WritingSection.astro
  src/data/i18n.ts
  src/data/works.ts
  src/data/writing.ts
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/styles/v3-animations.css
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: rename repo to RRocaP.github.io — serve from root /
  astro.config.mjs
  src/components/Navigation.astro
  src/data/projects.ts
  src/utils/seo.tsx
  src/utils/seoManager.ts
  src/utils/videoConfig.ts
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests
