Repository RRocaP/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

Updates
  404.html
  _astro/functional-inclusion-bodies.CqOHW1N6.css
  _astro/functional-inclusion-bodies.CtFeuv43.css
  _astro/index.BBTclPsg.css
  _astro/index.qpQ8jLor.css
  ca/index.html
  ca/research/functional-inclusion-bodies/index.html
  ca/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation/index.html
  ca/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation/index.html
  en/index.html
  en/research/functional-inclusion-bodies/index.html
  en/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation/index.html
  en/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation/index.html
  es/index.html
  es/research/functional-inclusion-bodies/index.html
  es/research/harnessing-whole-human-liver-ex-situ-normothermic-perfusion-for-preclinical-aav-vector-evaluation/index.html
  es/research/tailoring-capsid-directed-evolution-technology-for-improved-aav-mediated-car-t-generation/index.html
  styles/main.css
Due: npm run lint:check, npm run type-check

Updates
  ca/index.html
  en/index.html
  es/index.html
Due: npm run lint:check, npm run type-check

Fix critical issues: social icons overlap and update citations
  src/components/ContactSection.astro
  src/components/HeroModern.astro
  src/data/metrics.ts
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: comprehensive icon system refactor
  FINAL_IMPLEMENTATION_GUIDE.md
  ICON_PROMPT_FOR_SONNET.md
  REFACTOR_SUMMARY.md
  SONNET_ICON_REFACTOR_PROMPTS.md
  public/styles/tokens.css
  src/components/ContactSection.astro
  src/components/ContactSectionRefactored.astro
  src/components/Icon.astro
  src/components/PublicationCard.astro
  src/components/PublicationCardRefactored.astro
  src/components/icons/AAVCapsid.tsx
  src/components/icons/AlphaHelix.tsx
  src/components/icons/Contact.tsx
  src/components/icons/DownloadCV.tsx
  src/components/icons/Email.tsx
  src/components/icons/ExternalLink.tsx
  src/components/icons/GitHub.tsx
  src/components/icons/GoogleScholar.tsx
  src/components/icons/LanguageGlobe.tsx
  src/components/icons/LinkedIn.tsx
  src/components/icons/ORCID.tsx
  src/components/icons/PublicationStar.tsx
  src/components/icons/ResearchFlask.tsx
  src/components/icons/index.ts
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/styles/tokens.css
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

UI: normalize icon sizes and a11y; CI: add GitHub Pages deploy workflow
  .github/workflows/deploy.yml
  src/components/PublicationCard.astro
  src/pages/ca/index.astro
  src/pages/en/enhanced.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: hero section optimizations for maximum scientific impact
  .claude/agents/hero-section-optimizer.md
  .claude/agents/navigation-ui-designer.md
  .claude/agents/portfolio-data-visualizer.md
  .claude/agents/portfolio-metrics-visualizer.md
  .claude/agents/portfolio-restructure-specialist.md
  .claude/agents/typography-standardizer.md
  .claude/agents/ux-performance-optimizer.md
  .claude/agents/visual-metrics-designer.md
  src/components/AcademicAchievementDashboard.astro
  src/components/CollaborationNetworkViz.astro
  src/components/EnhancedResearchTimeline.astro
  src/components/HeroFinal.astro
  src/components/InteractivePublicationViz.astro
  src/components/NavigationPremium.astro
  src/components/ResearchMetricsViz.astro
  src/components/ScientificImpactDashboard.astro
  src/components/ScrollAnimations.astro
  src/data/metrics.ts
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/styles/design-system.css
  src/styles/performance-optimizations.css
  src/styles/tokens.css
  src/types/metrics-visualization.ts
  src/utils/animations.ts
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

fix: critical performance and UI improvements
  .claude/agents/opus-deploy-auditor.md
  package-lock.json
  package.json
  src/components/HeroFinal.astro
  src/components/ScientificImpactDashboard.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/styles/design-system.css
  src/utils/animations.ts
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: comprehensive portfolio optimization and restructuring
  DEPLOYMENT_REPORT.md
  PERFORMANCE_OPTIMIZATIONS.md
  package.json
  scripts/validate-performance.mjs
  src/components/CoreWebVitalsOptimizer.astro
  src/components/HeroFinal.astro
  src/components/NavigationPremium.astro
  src/components/ScrollAnimations.astro
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/styles/design-system.css
  src/styles/performance-optimizations.css
  src/styles/tokens.css
  src/utils/accessibility-controller.ts
  src/utils/animations.ts
  src/utils/lazy-loader.ts
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

feat: clean minimalist portfolio focused on real research
  FINAL_DEPLOYMENT_REPORT.md
  src/pages/ca/index-backup.astro
  src/pages/en/index-backup.astro
  src/pages/en/index-clean.astro
  src/pages/en/index.astro
  src/pages/es/index-backup.astro
  src/pages/es/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: polished v2 portfolio with enhanced accessibility and performance
  src/components/v2/About.astro
  src/components/v2/Contact.astro
  src/components/v2/Experience.astro
  src/components/v2/Hero.astro
  src/components/v2/Navigation.astro
  src/components/v2/Research.astro
  src/layouts/LayoutV2.astro
  src/pages/index.astro
Due: npm run lint:check, npm run type-check, npm run lint

feat: minimalist portfolio prototype (React+Tailwind, academic aesthetic)
  prototypes/portfolio-redesign/.eslintrc.js
  prototypes/portfolio-redesign/.gitignore
  prototypes/portfolio-redesign/README.md
  prototypes/portfolio-redesign/eslint.config.js
  prototypes/portfolio-redesign/index.html
  prototypes/portfolio-redesign/package-lock.json
  prototypes/portfolio-redesign/package.json
  prototypes/portfolio-redesign/postcss.config.js
  prototypes/portfolio-redesign/public/vite.svg
  prototypes/portfolio-redesign/src/App.jsx
  prototypes/portfolio-redesign/src/assets/react.svg
  prototypes/portfolio-redesign/src/components/FocusCard.jsx
  prototypes/portfolio-redesign/src/components/LinkChip.jsx
  prototypes/portfolio-redesign/src/components/Navbar.jsx
  prototypes/portfolio-redesign/src/components/ProjectCard.jsx
  prototypes/portfolio-redesign/src/components/PubItem.jsx
  prototypes/portfolio-redesign/src/components/SkipToContent.jsx
  prototypes/portfolio-redesign/src/constants.js
  prototypes/portfolio-redesign/src/index.css
  prototypes/portfolio-redesign/src/main.jsx
  prototypes/portfolio-redesign/tailwind.config.js
  prototypes/portfolio-redesign/vite.config.js
Due: npm run lint:check, npm run type-check

feat: Complete portfolio optimization and production deployment
  COMPLETE_AUDIT_SUMMARY.md
  DEPLOYMENT_GUIDE.md
  LIGHTHOUSE_AUDIT_SCRIPT.js
  PERFORMANCE_OPTIMIZATION_REPORT.md
  PORTFOLIO_AUDIT_SUMMARY.md
  package-lock.json
  package.json
  public/robots.txt
  public/sitemap.xml
  public/sw.js
  src/components/AntimicrobialResistanceTimeline.tsx
  src/components/GeneTherapyVisualization.tsx
  src/components/LanguageSwitcher.astro
  src/components/OptimizedImage.astro
  src/components/Reveal.astro
  src/components/Timeline.astro
  src/layouts/Layout.astro
  src/pages/ca/index.astro
  src/pages/en/index.astro
  src/pages/es/index.astro
  src/pages/index.astro
  src/styles/animations.css
  src/utils/generateProteinFrames.ts
  src/utils/memoryLeakDetector.ts
  test-interactive-components.js
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

ci: Update GitHub Actions workflow for deployment
  .github/workflows/deploy.yml
Due: npm run lint:check, npm run type-check

Updates
  assets/index-CYlEraiF.js
  assets/index-tn0RQdqM.css
  index.html
  vite.svg
Due: npm run lint:check, npm run type-check

ci: deploy any branch to GitHub Pages with base-path ││ │rewrite
  .github/workflows/deploy-any-branch.yml
Due: npm run lint:check, npm run type-check

ci: deploy any branch to GitHub Pages with base-path ││ (#38)
  .github/workflows/deploy-any-branch.yml
Due: npm run lint:check, npm run type-check

feat(ui): site-wide navy theme + header theme toggle; add /en/navy prototype
  src/components/Navigation.astro
  src/layouts/Layout.astro
  src/pages/en/navy.astro
Due: npm run lint:check, npm run type-check, npm run lint

chore: update owner links to GitHub and LinkedIn
  portfolio_site/assets/site-data.json
  portfolio_site/index.html
Due: npm run lint:check, npm run type-check

chore: update contact email to ramon.rocap@gmail.com
  portfolio_site/index.html
Due: npm run lint:check, npm run type-check

refactor: safer DOM rendering and accessibility in app.js
  portfolio_site/assets/js/app.js
Due: npm run lint:check, npm run type-check

fix: remove GSAP usage and simplify app.js for GitHub Pages
  portfolio_site/assets/js/app.js
Due: npm run lint:check, npm run type-check

feat: Add GSAP animations, dark mode, responsive nav, and build optimization
  .claude/agents/build-optimizer.md
  .claude/agents/dark-mode-implementer.md
  .claude/agents/gsap-animation-orchestrator.md
  .claude/agents/project-card-builder.md
  .claude/agents/responsive-nav-builder.md
  portfolio_site/.browserslistrc
  portfolio_site/.env.development
  portfolio_site/.env.production
  portfolio_site/.env.staging
  portfolio_site/.github/workflows/deploy.yml
  portfolio_site/.gitignore
  portfolio_site/README.md
  portfolio_site/assets/css/style.css
  portfolio_site/assets/js/app.js
  portfolio_site/index.html
  portfolio_site/lighthouse.config.js
  portfolio_site/package.json
  portfolio_site/postcss.config.js
  portfolio_site/vite.config.js
Due: npm run lint:check, npm run type-check

fix: Fix Vite build configuration for GitHub Pages deployment
  portfolio_site/.env.production
  portfolio_site/package-lock.json
  portfolio_site/vite.config.js
Due: npm run lint:check, npm run type-check

fix: Update workflow to build from portfolio_site directory
  portfolio_site/.github/workflows/deploy.yml
Due: npm run lint:check, npm run type-check

feat: configure deployment for PortfolioV2 with clean-optimization branch
  astro.config.mjs
Due: npm run lint:check, npm run type-check

feat: optimize profile images for better performance
  UX_PERFORMANCE_OPTIMIZATION_SUMMARY.md
  public/profile.avif
  public/profile.jpg
  public/profile.webp
  public/profile@0.5x.avif
  public/profile@0.5x.jpg
  public/profile@0.5x.webp
  public/profile@2x.avif
  public/profile@2x.jpg
  public/profile@2x.webp
  scripts/strip-html-comments.mjs
  src/components/AdvancedCollaborationNetwork.astro
  src/components/AdvancedCollaborationNetworkViz.astro
  src/components/ComprehensiveMetricsDashboard.astro
  src/components/DynamicFundingVisualization.astro
  src/components/EnhancedCollaborationNetworkViz.astro
  src/components/EnhancedHIndexProgression.astro
  src/components/HIndexProgressionChart.astro
  src/components/InteractiveMetricsDashboard.astro
  src/components/InteractiveResearchTimeline.astro
  src/components/MicroInteractions.astro
  src/components/ProgressiveEnhancement.astro
  src/components/PublicationImpactBubbleChart.astro
  src/components/PublicationsImpactViz.astro
  src/components/ResearchAreaRadarChart.astro
  src/components/SkeletonLoader.astro
  src/components/SkillProficiencyRadarChart.astro
  src/utils/performanceValidator.ts
  temp_profile.jpg
Due: npm run lint:check, npm run type-check, npm run lint, npm run test:run -- --passWithNoTests

Updates
  .github/workflows/astro.yml
  .github/workflows/deploy.yml
  .github/workflows/ramonroca.github.io
  .gitignore
  _astro/AntimicrobialResistanceTimeline.DaNp_voB.js
  _astro/Layout.astro_astro_type_script_index_1_lang.CoYqDOGT.js
  _astro/client.Ck978YHi.js
  _astro/index.9MVAkNgL.js
  _astro/index.B9UyzWzP.css
  _astro/index.BDnZhpsM.css
  _astro/index.CHk8ht1G.css
  _astro/index.DFu0Iu_i.css
  _astro/index.Dv6Jce5y.css
  ca/index.html
  en/index.html
  es/index.html
  favicon.svg
  index.html
  profile.jpg
Due: npm run lint:check, npm run type-check

Path conditions:
  npm run lint:check: any of: *
  npm run type-check: any of: *
  npm run lint: any of: *.{ts,tsx,astro}
  npm run test:run -- --passWithNoTests: any of: src/**/*.{ts,tsx}
